<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>blocker-extension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>blocker.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2578B27620617F530010B271</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2578B28D20617F530010B271</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2578B29820617F530010B271</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2578B2AE206183FD0010B271</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
